{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "paths": {
      "@interfaces/*": [
        "./src/interfaces/*"
      ],
      "@schemas/*": [
        "./src/schemas/*"
      ],
      "@middlewares/*": [
        "./src/middlewares/*"
      ],
      "@utils/*": [
        "./src/utils/*"
      ],
      "@routes/*": [
        "./src/routes/*"
      ],
      "@controllers/*": [
        "./src/controllers/*"
      ]
    }
  },
  "sourceMaps": false
}